base_dev_dir: null 
hydra.job.config.save_dir: ./temp
task_name: coffee_d2
save_dir: null

project_name: '${task_name}_diffusion_concept'
num_epochs: 100
lr: 1e-4
weight_decay: 1e-6
ckpt_frequency: 10
loss_log_every: 2000
proto_prediction_weight: 0.1
seed: 43
proto_classifier_embedding: True
proto_classifier_softmax: True
use_task_embedding: 0
use_concept: True
use_wrist: True
task_names: ["coffee_d2"]

resume: False
epoch_start: 0
resumed_dir: null 
use_wandb: False

pred_horizon: 16
obs_horizon: 4 
action_horizon: 8 
proto_horizon: 1
batch_size: 128
pin_memory: True
num_workers: 4
persistent_workers: True

#env setup
obs_dim: 9
action_dim: 7
num_protos: 30
proto_dim: 36
vision_feature_dim: 256
bc_resize: [112,112]
pretrain_resize: [124,124]
pretrain_pipeline: ["center_crop_112_112","normalize"]

pretrain_path: ${base_dev_dir}/utilsxs/experiment/pretrain
pretrain_ckpt: 99
# dataset
upsample_proto: False
dataset:
  _target_: utilsxs.dataset.robomimic_dp_dataset.RobomimicBCDataset
  use_wrist: ${use_wrist}
  use_alldemo: False
  use_concept: ${use_concept}
  resize_shape: ${bc_resize}
  data_dirs: ['your_dataset_path']
  proto_dirs: 'your_concept_path'
  mask: 'your_generated_mask_path'
  pred_horizon: ${pred_horizon}
  obs_horizon: ${obs_horizon}
  action_horizon: ${action_horizon}
  proto_horizon: ${proto_horizon}
  obs_image_based: True
  unnormal_list: ['protos']
  seed: ${seed}

proto_pred_net:
  _target_: utilsxs.model.transformer.TorchTransformerProtoPredictor
  query_dim: ${proto_dim} 
  heads: 1 #4
  dim_feedforward: 512
  n_layer: 16
  proto_dim: ${proto_dim} 
  use_encoder: True
  input_dim: null
  pos_encoder:
    _target_: utilsxs.model.transformer.PositionalEncoding
    size: ${proto_dim} 
    max_len: 200
    frequency: 10000

# diffusion
num_diffusion_iters: 60
noise_pred_net:
  _target_: utilsxs.model.diffusion_model.ConceptConditionalUnet1D
  input_dim: ${action_dim}
  global_cond_dim: null

noise_scheduler:
  _target_: diffusers.schedulers.scheduling_ddpm.DDPMScheduler
  num_train_timesteps: ${num_diffusion_iters}
  beta_schedule: 'squaredcos_cap_v2'
  clip_sample: True
  prediction_type: 'epsilon'

task_progess_ratio_list: [1]
demo_type_list: ['robot','human']

eval_callback:
  _target_: utilsxs.utility.diffusion_bc_callback.visual_diffusion_bc_prediction_callback
  task_progess_ratio: -1
  pretain_model_path: ${pretrain_path}
  pretrain_model_ckpt: ${pretrain_ckpt}


eval_cfg:
  n_evaluations: 50
  eval_frequency: 25
  pretrain_path: ${pretrain_path}
  pretrain_ckpt: ${pretrain_ckpt}
  bc_resize: ${bc_resize}
  pretrain_pipeline: ${pretrain_pipeline}
  resize_shape: ${pretrain_resize} # resize shape for pretrain
  eval_mask_path: ${base_dev_dir}/utilsxs/datasets/kitchen_dataset/eval_mask.json
  demo_path: ${base_dev_dir}/utilsxs/datasets/kitchen_dataset/
  demo_item: 247
  demo_type: 'human'

  max_steps: 800
  obs_horizon: ${obs_horizon}
  pred_horizon: ${pred_horizon}
  action_dim: ${action_dim}
  action_horizon: ${action_horizon}
  proto_horizon: ${proto_horizon}
  upsample_proto: ${upsample_proto}
  num_diffusion_iters: ${num_diffusion_iters}
